@model ICollection<EmployerEmployeeHuntSystem.Web.ViewModels.Skills.SkillViewModel>
<div>
    @if (Model != null)
    {
        foreach (var skill in Model)
        {
            <span class="label label-primary big-text-size span-top-bottom-margin">@skill.Name</span>
        }
    }
    else
    {
        <h5>This developer does not have skills yet.</h5>
    }
</div>