@model EmployerEmployeeHuntSystem.Web.ViewModels.Organizations.OrganizationsIndexViewModel
@using EmployerEmployeeHuntSystem.Constants
@using GridMvc.Html
@using GridMvc.Sorting
@{
    ViewBag.Title = "Organizations";
}
<h3 class="text-center">My Organizations</h3>

@Html.Grid(Model.Organizations).Columns(columns =>
{
    columns.Add(o => o.Name)
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(x => Html.ActionLink(x.Name, "Details", "Organizations", new { id = x.Id }, null));
    columns.Add(o => o.FoundedOn)
        .Format("{0:dd/MM/yyyy}");
    columns.Add(o => o.JobOffersCount);
}).WithMultipleFilters().WithPaging(GlobalConstants.DefaultPageSize).Sortable().Filterable()