@model EmployerEmployeeHuntSystem.Web.Areas.Headhunters.ViewModels.JobOffers.JobOffersListViewModel

@{
    ViewBag.Title = "All Job Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Active Job Offers</h3>
@Html.DisplayForModel(new { area = "Headhunters" })