@model EmployerEmployeeHuntSystem.Web.Areas.Headhunters.ViewModels.JobOffers.JobOffersListViewModel
@{
    ViewBag.Title = "All Job Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">My Currently Active Job Offers</h3>
<hr />
@Html.DisplayFor(x => Model.JobOffers, new { IsHeadhunter = true })

@section scripts {
    <script>
        jqueryElementManipulation.toggleClassOfTableRow('expand', 'hidden');
    </script>
}