@model EmployerEmployeeHuntSystem.Web.Areas.Headhunters.ViewModels.JobOffers.JobOffersListViewModel

@{
    ViewBag.Title = "Unassigned Job Offers";
}

<h3 class="text-center">Unassigned Job Offers</h3>
@Html.DisplayForModel(new { area = "Headhunters" })