@model EmployerEmployeeHuntSystem.Web.Areas.Headhunters.ViewModels.JobOffers.JobOffersListViewModel

@{
    ViewBag.Title = "All Job Offers";
}

<h3 class="text-center">All Job Offers</h3>
@Html.DisplayForModel(new { Area = "Headhunters" })