@model EmployerEmployeeHuntSystem.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Welcome to Employer-Employee Hunt</h1>
    <h3 class="text-center">Find employees and let your organization grow faster with the help of our headhunters. Or find your next employer.</h3>
</div>

<h4 class="text-center">The numbers don't lie!</h4>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            @foreach (var key in Model.Statistics.Keys)
            {
                <th class="text-center">@key:</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var key in Model.Statistics.Keys)
            {
                <td class="text-center">@Model.Statistics[key]</td>
            }
        </tr>
    </tbody>
</table> 