@model EmployerEmployeeHuntSystem.Web.ViewModels.JobOffers.JobOfferIndexViewModel

<h3>Job offers for @Model.Organization.Name @Html.ActionLink("Add New", "Add", new { organizationId = Model.Organization.Id }, new { @class = "btn btn-primary" })</h3>
<br />
@Html.DisplayFor(x => Model.JobOffers, new { IsHeadhunter = false })